/*
FlatTurtle bvba
Author: Michiel Vancoillie
*/

@import "bootstrap";
@import "bootstrap-responsive";
@import "bootstrap-wysihtml5";
@import "bootstrap-select";
@import "font-awesome";


html, body{
    font-family: "Soho Gothic W01 Regular", sans-serif;
    height: 100%;
    background-color: #2257a6;
    padding: 0px;
}

input,
select,
textarea{
    font-family: inherit;
}

select{
    -webkit-appearance: menulist;
}

strong, b{
    font-family: "Soho Gothic W01 Medium";
}

.alert strong{
    margin-right: 10px;
}

header[role=banner] {
    padding: 20px 0px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #fff;

    hgroup {
        width: 67%;
        min-width: 200px;
        max-width: 369px;
        max-height: 70px;

        img{
            max-height: 50px;
        }
    }
}

nav[role=navigation] {
    width: 100%;
    text-align: right;
    padding-top: 35px;

    i{
        color: #0578bd;
    }

    h4{
        display:inline;
        padding:0px;
        padding-right: 10px;
        font-size: 12px;
    }
}

.navbar{
    margin: 0px;
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-left: 0px;
    border-right: 0px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);

    .navbar-inner{
        background: none;
        border: none;
        box-shadow: none;
    }

    .dropdown-menu{
        max-height:360px;
        overflow-y: auto;
        border-radius: 0px;
        background-color:#f8f8f8;
        border: 1px solid #d4d4d4;
        margin-top: -1px;

        a{
            padding: 5px 15px !important;
            color: #555;
            text-shadow: 0 1px 0 #fff;
        }

        .active a{
            background-image: none !important;
            background-color: #e5e5e5 !important;
            text-shadow: none;
            -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
            box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
        }

        .active a:hover, a:hover, a:focus{
            color:#fff;
            background-image: none !important;
            background-color: #0088cc !important;
            text-shadow: none;
        }
    }
}

.language_switcher a{
    font-size: 10px !important;
    padding: 2px 6px !important;
}

.wrapper{
    background-color: #fff;
}

.grey_wrapper{
    background-color: #ededed;
    padding-bottom: 20px;

    .row:first-child{
        padding-top: 20px;
    }

    .row.submenu{
        padding: 0px;

        .backlink, .btn{
            margin-top: 15px;
        }
    }
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.infoscreens{
    width: 100%;

    .more{
        display: table-cell;
        float:left;
        vertical-align: middle;
        width: 214px;
        text-align: center;
        padding: 10px;
        height: 125px;

        span{
            display: inline-block;
            padding: 5px 14px;
            background-color: #fff;
            border: 1px solid #ddd;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            border-radius: 15px;
            margin-top: 50px;
        }
    }

    a:hover{
        .infoscreen{
            margin: 8px;
            width: 218px;

            .screen{
                height: 119px;
            }
        }
    }

    .infoscreen{
        margin: 10px;
        padding-bottom: 5px;
        width: 214px;
        float: left;
        text-align: center;


        &.disabled{
            *{
                background-color:#222 !important;
            }

            .logo-holder{
                display: none;
            }
        }

        .screen{
            -moz-box-shadow: 0px 0px 5px #aaa;
            -webkit-box-shadow: 0px 0px 5px #aaa;
            box-shadow: 0px 0px 5px #aaa;
            height: 115px;
            border: 5px solid #000;
            background-color: #fff;
            overflow: hidden;
            margin-bottom: 5px;

            .inside{
                width: 100%;
                height: 100%;
                background-color: #ccc;
                text-align: center;
                position: relative;

                .color-side{
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    left: 50%;
                }

                .logo-holder{
                    height: 20px;
                    max-width: 220px;
                    max-height: 39px;
                    position: absolute;
                    background-color: #fff;
                    bottom: 0px;
                    left: 0px;
                    right: 0px;
                    padding: 5px;

                    .logo{
                        width: 100%;
                        max-width: 70px;
                        height: 100%;
                        max-height: 20px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: right center;
                        position:absolute;
                        top: 5px;
                        right: 7px;
                    }
                }
            }
        }
    }
}

.infoscreens.inactive{
    .screen{
        border: 5px solid #555;
    }
}

.single-infoscreen{
    position: relative;
    margin: 0px auto;
    width: 100%;
    max-width: 500px;
    margin-bottom: 25px;



    .screen-links{
        text-align: right;
        padding-bottom: 30px;
        position: absolute;
        top: -30px;
        right: 0px;

        a{
            margin-right: 20px;

            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .pager{
        position: absolute;
        top:30%;
        left: -30px;
        right: -30px;
        pointer-events: none;

        a{
            pointer-events: auto;
        }
    }

    .dummy{
        padding-top:55%;
    }

    .screen{
        position: absolute;
        top: 0;
        bottom: 0px;
        left: 0;
        right: 0;

        &.disabled{
            *{
                background-color:#222 !important;
            }
        }

        .inner{
            background-color: #ccc;
            border: 5px solid #000;
            height: 100%;
            min-height: 100px;
            position: relative;

            .left-side{
                width: 50%;
                height: 100%;
                position: absolute;
            }

            .right-side{
                width: 50%;
                height: 100%;
                left: 50%;
                position: absolute;
            }

            .logo-holder{
                height: 48px;
                position: absolute;
                background-color: #fff;
                bottom: 0px;
                right: 0px;
                left: 0px;
                padding: 15px;
                font-size: 12px;

                label{
                    line-height: 50px;
                    padding:0px 10px;
                    width: auto;
                    float: left;
                }

                button{
                    display: inline-block;
                    height: 20px;
                    font-size: 12px;
                    line-height: 0px;
                    padding: 5px;
                    margin-left: 8px;
                    margin-top: -1px;
                }

                .footer-line.single{
                    line-height: 50px;

                    select{
                        margin-top: 15px;
                    }
                }

                .logo{
                    width: 100%;
                    height: 100%;
                    max-width: 80px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: right center;
                    position:absolute;
                    top: 0px;
                    right: 20px;
                }

                select{
                    outline: none;
                    padding: 0px;
                    height: 20px;
                    font-size: 12px;
                    max-width: 200px;
                    float: left;
                    display: block;

                    &.updates{
                        margin-top: 8px;
                        float: none;
                    }
                }

                input{
                    outline: none;
                    font-size: 10px;
                    height: 16px;
                    padding: 1px 5px;
                    width: 250px;
                    margin-top: 8px;
                    line-height: 10px;
                }

            }
        }
    }
}


@media (max-width: 979px) {
    .single-infoscreen{
        margin-top: 20px;
    }
}


.form-horizontal.center{
    margin: 0px auto;
    max-width: 500px;

    .btn-group{
        padding-bottom: 20px;
        text-align: center;

        .btn{
            padding-top: 6px;
            width: 100px;
            white-space: normal;
            min-height: 75px;
            vertical-align: middle;
            display: table-cell;
            border-right: none;

            &.btn:last-child{
                border-right: 1px solid rgba(0, 0, 0, 0.25);
            }

            span{
                word-wrap: break-word;
                color: #666;
                font-size: 12px;
                line-height: 10px;
            }

            [class*=" icon-"]{
                line-height: inherit;
            }

            i.active{
                color: #08C;
            }

            .loading{
                margin-top: -5px;
            }
        }
    }
}

.turtle-chooser{
    .turtle{
        padding: 3px 10px;
        background-color: #fff;
        color: #000;
        border: 1px solid #ddd;
        margin-bottom: 3px;
        cursor: pointer;
    }
}

.turtle-holder,
.pane-holder{
    position: relative;

    #pane-selector{
        position: absolute;
        margin-top: -30px;
        right: -5px;

        ul{
            display:inline;
            margin: 0px;
            padding: 0px;
        }

        li{
            cursor: pointer;
            display: inline;
            width: 10px;
            text-align: right;
            font-size: 30px;
            vertical-align: middle;
            padding: 0px;
            margin: 0px;
            color: #ccc;
        }

        li.active{
            color: #666;
        }
    }

    .pane-area{
        .turtle_instance .delete{
            display: none;
        }
    }

    .turtle-area,
    .pane-area{
        width: 100%;
        border: 5px solid #000;
        border-right: none;
        min-height: 350px;
        background-color: #ccc;
        position: relative;

        .turtle_instance{
            background-color: #efefef;

            .title{
                display: block;
                margin: 0px;
                background-color: #333;
                border:1px solid #555;
                border-bottom: none;
                color: #fff;
                padding: 7px;
                padding-left: 43px;
                padding-bottom: 8px;
                cursor: pointer;

                .icon{
                    position: absolute;
                    width: 30px;
                    height: 35px;
                    left: 5px;
                    margin-top: -7px;
                    background-size: contain;
                    background-position: center center;

                    &.delijn, &.mivb{
                        background-image: url('../img/turtle_bus.png');
                    }

                    &.airport{
                        background-image: url('../img/turtle_airport.png');
                    }

                    &.nmbs{
                        background-image: url('../img/turtle_nmbs.png');
                    }

                    &.villo, &.velo{
                        background-image: url('../img/turtle_villo.png');
                    }

                    &.rss{
                        background-image: url('../img/turtle_rss.png');
                    }

                    &.mapbox, &.map{
                        background-image: url('../img/turtle_mapbox.png');
                    }

                    &.weather{
                        background-image: url('../img/turtle_weather.png');
                    }

                    &.finance{
                        background-image: url('../img/turtle_finance.png');
                    }

                    &.signage{
                        background-image: url('../img/turtle_signage.png');
                    }

                    &.twitter{
                        background-image: url('../img/turtle_twitter.png');
                    }

                    &.video{
                        background-image: url('../img/turtle_video.png');
                    }

                    &.image{
                        background-image: url('../img/turtle_image.png');
                    }

                }
            }

            .delete{
                position: absolute;
                right: 5px;
                width: 15px;
                height: 15px;
                margin-top: 8px;
                cursor: pointer;
                color: #fff;
                text-decoration: none;
            }

            .edit_area{
                padding:10px;
                padding-bottom: 0px;
                border:1px solid #ddd;
                border-top: none;

                .ui-helper-hidden-accessible{
                    display: none;
                }

                textarea{
                    width: 98.5%;
                    resize:vertical;
                    min-height: 200px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.loading{
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    background: url('../img/loading.gif') no-repeat;
    vertical-align: middle;
}

.pane-holder{
    position: relative;

    .pane-area{
        width: 100%;
        border: 5px solid #000;
        border-left: none;
        min-height: 350px;
        background-color: #ccc;
        position: relative;

        .pane-options{
            background-color: #2257a6;
            padding: 10px 10px 25px 10px;
            color: #fff;

            form{
                margin: 0px;

                .control-group:last-child{
                    margin: 0px;
                }
            }
        }
    }
}

.pane-chooser{
    .pane{
        background-color: #fff;
        border: 1px solid #ddd;
        margin-bottom: 3px;
        cursor: pointer;
        line-height: 25px;
        position: relative;

        a{
            border: 0px none;
            text-decoration: none;
        }

        .holder{
            padding: 3px 10px;
            color: #000;
        }

        &.active{
            background-color: #2257a6;

            .holder{
                color: #fff;
            }

            .note{
                color: #21b0d7;
            }
        }

        &.active .holder:after{
            content: '';
            top: 50%;
            margin-top: -10px;
            right: -15px;
            position: absolute;

            width: 0;
            height: 0;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;

            border-left: 15px solid #2257a6;
        }

        input[type=checkbox]{
            margin:0px;
            margin-top: -2px;
            margin-right: 10px;
        }

        .note{
            display:block;
            padding-left: 25px;
            font-size: 11px;
            line-height: 14px;
            padding-bottom: 4px;
        }

        &.draggable{
            .note{
                padding-left: 0px;
            }
        }
    }

    .available_pane{
        cursor: default !important;
    }
}

footer[role=footer] {
    width:100%;
    background-color: #2257a6;
    border-top: 10px solid #0578bd;
    bottom: 0;
    padding: 20px 0px;
    color: #fff;

    a{
        color:#21b0d7;
    }

    a:hover{
        color:#fff;
        text-decoration: none;
    }
}

.blacklink{
    color: #333;
}

.blacklink:hover,
.blacklink:focus,
.blacklink:active{
    color: #555;
    text-decoration: none;
    outline: none;
}

.nomargin{
    margin:0;
}

.note{
    line-height: 2.5em;
    font-size:13px;
    color: #aaa;
}



/* JQuery UI Autocomplete */
.ui-autocomplete {
    position: absolute;
    top: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    left: 10px;
    padding: 5px;
    cursor: default;
    list-style: none;

    a{
        color: #333;
    }

    li{
        font-size: 13px;
    }
}

.padding-5{
    padding: 5px;
}

.right-align{
    text-align: right;
}

select{
    width: auto;
}

.turtle_signage{
    hr{
        border: 0;
        border-bottom: 1px solid #ddd;
        margin-bottom: 0px;
    }

    .listing{
        margin-top: 3px;
        padding-left: 10px;

        & > i{
            margin-right: 10px;
            color: #aaa;
        }
    }
}

.alert.fixed{
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    margin: 0px;
}

@media (max-width: 550px){
    .navbar{
        .navbar-search{
            display: none;
        }
    }

    .single-infoscreen{
        .screen-links{
            left: 0px;
            text-align: left;
        }

        .logo-holder{
            label{
                font-size: 12px;
            }

            input{
                width: 100px !important;
            }

        }
    }
}

@media (max-width: 768px) {
    .navbar{
        .container{
            margin: 0px;
        }
    }

    // Fix margin container
    .container{
        margin-left: 25px;
        margin-right: 25px;
    }


    header[role=banner] {
        margin: 0 auto;
        padding: 0px;
        padding-bottom: 10px;
        overflow: hidden;

        hgroup {
            max-height: 30px;

            img{
                max-height: 30px;
            }
        }
    }

    nav[role=navigation]{
        padding: 0px;
        padding-bottom: 20px;
        text-align: left;

        h4{
            display: inline;
            vertical-align: middle;
        }

        .language_switcher{
            position: absolute;
            right: 20px;
            top: 10px;
        }
    }

    footer[role=footer]{
        font-size: 12px;

        .span5.right-align{
            text-align: left;
        }
    }
}